html, body, .container {
  height: 100%;
}

.container > .row.editor {
  height: 100%;
  > div {
    height: 100%;
  }
}

.bar {
  border: 2px solid #eee;
  height: 100%;
}

.left-bar {
  .page-img {
    text-align: center;
  }
}

.iphone-img{
  height: 100%;
}

.page-row{
  margin-top: 20px;
  margin-bottom: 20px;
}

#draggable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
  background: #ff0000;
}
