
html, body, .container {
  height: 100%;
}

.container {
  min-width: 1170px !important;
}

.container > .row.editor {
  height: 100%;
  > div {
    height: 100%;
  }
  .left-bar {
    .page-img {
      text-align: center;
    }
  }

  .bar {
    border: 2px solid #eee;
    height: 100%;
  }

  .mobile {
    position: relative;
    .iphone6 {
      margin: 0 auto;
      width: 50%;
      text-align: center;
      img {
        width: 100%;
      }
    }
    .page-img {
      position: absolute;
      top: 70px;
      left: 157px;
      img {
        width: 239px;
        height: 422px;
      }
    }
  }

  .component.current {
    border: 1px solid red;
    border-style: dashed;
  }

  .component {
    text-align: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  .component.link {
    background-color: rgba(135, 206, 255, 0.7);;
  }

  .component.input {
    background-color: yellow;
  }

  .right-bar {
    .components {
      .component {
        margin: 20px auto;
      }
    }
    .property {
      text-align: left;
    }
  }

}



.page-row{
  margin-top: 20px;
  margin-bottom: 20px;
}

.draggable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
  background: #ff0000;
}
